.item-description {
  margin-left: 1000px;
  font-size: 30px;
  margin-top: -500px;
}

.rating {
  font-size: 24px;

  top: -14px;
}

.rating-text {
  margin-left: 140px;
  margin-top: -44px;
  font-size: 18px;
}

.in-stock {
  margin-left: 280px;
  margin-top: -26px;
  font-size: 18px;
  color: green;
}
.dollar {
  margin-top: 6px;
  margin-left: 4px;
}

.first-line {
  top: 8px;
  font-size: 18px;
  margin-left: 4px;
}

.second-line {
  font-size: 18px;
  margin-left: 4px;
}
.third-line {
  font-size: 18px;
  margin-left: 4px;
}
.colours {
  font-size: 18px;
  margin-left: 10px;
  margin-top: -20px;
}

.radio-colour {
  left: 90px;
  top: -35px;
}

.radio-colours {
  left: 90px;
  top: -35px;
}

div .size-btn {
  font-size: 18px;
  color: red;
  margin-left: 50px;
  margin-top: -25px;
}
.size-div {
  font-size: 18px;
  margin-left: 20px;

  margin-top: -28px;
}
